{%load static%}
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
        <svg class="bi"><use xlink:href="#house-fill"/></svg>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
        Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#cart"/></svg>
        Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#people"/></svg>
        Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#graph-up"/></svg>
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#puzzle"/></svg>
        Integrations
      </a>
    </li>
  </ul>