/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

   */


  /* registration form css code */

  :root {
    --yellow: #f5ba1a;
    --black: #000000;
    --grey: #cccccc;
  }
  
  body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  
  .form_wrapper {
    background: #fff;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 8% auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid var(--yellow);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
    transition: none;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
  }
  
  .form_wrapper h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
  }
  
  .form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
  }
  
  .form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
  }
  
  .form_wrapper label {
    font-size: 12px;
  }
  
  .form_wrapper .row {
    margin: 10px -15px;
  }
  
  .form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  .form_wrapper .col_half {
    width: 50%;
    float: left;
  }
  
  .form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form_wrapper .input_field > span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid var(--grey);
    text-align: center;
    width: 30px;
  }
  
  .form_wrapper .input_field input[type="text"],
  .form_wrapper .input_field input[type="email"],
  .form_wrapper .input_field input[type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid var(--grey);
    box-sizing: border-box;
    outline: none;
    transition: all 0.30s ease-in-out;
  }
  
  .form_wrapper .input_field input[type="text"]:hover,
  .form_wrapper .input_field input[type="email"]:hover,
  .form_wrapper .input_field input[type="password"]:hover {
    background: #fafafa;
  }
  
  .form_wrapper .input_field input[type="text"]:focus,
  .form_wrapper .input_field input[type="email"]:focus,
  .form_wrapper .input_field input[type="password"]:focus {
    box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
    border: 1px solid var(--yellow);
    background: #fafafa;
  }
  
  .form_wrapper input[type="submit"] {
    background: var(--yellow);
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    transition: all 0.30s ease-in-out;
  }
  
  .form_wrapper input[type="submit"]:hover {
    background: #ffac00;
  }
  
  .form_wrapper input[type="submit"]:focus {
    background: #ffac00;
  }
  
  /* ... Continue with the rest of your CSS code ... */
  
  /* Keyframes for animations */
  @keyframes check {
    0% {
      height: 0;
      width: 0;
    }
    25% {
      height: 0;
      width: 7px;
    }
    50% {
      height: 20px;
      width: 7px;
    }
  }
  
  @keyframes expand {
    0% {
      transform: scale3d(1, 0, 1);
      opacity: 0;
    }
    25% {
      transform: scale3d(1, 1.2, 1);
    }
    50% {
      transform: scale3d(1, 0.85, 1);
    }
    75% {
      transform: scale3d(1, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translate3d(0, -25px, 0);
      opacity: 0;
    }
    25% {
      transform: translate3d(0, 10px, 0);
    }
    50% {
      transform: translate3d(0, -6px, 0);
    }
    75% {
      transform: translate3d(0, 2px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .float-right{
    /* display: flex; */
    /* flex-direction: column; */
    float: right;
  }
  #showPassword:hover{
    cursor: pointer;
  }

  