{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h3>{{ category }} Expenses</h3>
    <h4>Total Expense: {{ total_expense }} {{ currency }}</h4>
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Amount ({{ currency }})</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
                <th></th>
                <!-- Add more details as needed -->
            </tr>
        </thead>
        <tbody class="tbody">
            {% for expense in category_expenses %}
            <tr>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.date }}</td>
                <td><a href="{% url 'edit_expenses' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                <td><a href="{% url 'delete_expenses' expense.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                <!-- Add more details as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'expenses' %}" class="btn btn-primary">Back to Index</a>
</div>
{% endblock content %}
