
{% extends 'base_auth.html' %}
{%load static%}

{% block header %}
<link href="{% static 'css/main.css'%}" rel="stylesheet" crossorigin="anonymous">
{%endblock%}
{% block content %}
<div class="row content">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card  card-body radius">
            <div class="register-heading">
                <h4 class="text-color register-heading">Register for free account</h4>
            </div>
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" name="username" id="usernameField" placeholder="username" class=" form-control form-control-sm input-field radius">
                        <input type="email" name="email" id="emailField" placeholder="Email" class=" form-control form-control-sm input-field radius">
                        <input type="password" name="password" id="passwordField" placeholder="password" class=" form-control form-control-sm input-field radius">
                        <small class="float-right">SHOW</small>
                        <input type="submit" value="Register" class="btn btn-block btn-primary register-button radius">
                    </div>
                </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}